header li a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

header {
    width: 100%;
}

nav {
    width: 60%;
}

ul.topnav li.icon {
    float: right;
    display: inline-block;
}

ul.topnav li {
    display: none;
}

ul.topnav.responsive {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    height: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    line-height: 5px;
    width: 100%;
}

ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
}

ul.topnav.responsive li {
    float: none;
    display: inline;
}

ul.topnav.responsive li a {
    display: block;
    text-align: left;
    line-height: 30px;
    text-align: left;
    margin-bottom: 20px;
}

ul.topnav li.icon {
    float: right;
    /*O ícone será exibido ao lado direito*/
    display: inline-block;
}



section#trips .container {
    background-image: linear-gradient(to bottom, transparent 0%, #fff 34%), url(../imagens/Vignettes.png);
}

section#trips .container {
    flex-direction: column-reverse;
    align-items: center;
}

section#trips .texto {
    padding: 0;
    width: auto;
    text-align: center;
}

section#trips .texto h1 {
    font-size: 28px;
    margin: 40px 40px 10px 40px;
}

section#trips .texto p {
    font-size: 18px;
    margin: 0px 60px 0px 60px;
}

section#trips img {
    width: 440px;
    height: 300px;
    padding-right: 5%;
}



section#messages .container {
    flex-direction: column;
    align-items: center;
}

section#messages #img_principal {
    width: 600px;
    height: 350px;
}

section#messages .caixa {
    display: flex;
    margin-top: 50px;
}

section#messages .texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-right: 20px;
}

section#messages .texto img {
    margin: 0;
    width: 50px;
    height: 50px;
    float: none;
}

section#messages .texto h3 {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    font-size: 16px;
}

section#messages .texto p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    margin-top: 4px;
}



footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .texto {
    margin-top: 30px;
}
